<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="/Libraries/bootstrap.css">
    <link rel="stylesheet" href="/invoiceForm.css">
    <link rel="stylesheet" href="/invoice.css" >
    <link rel="stylesheet" href="/myInvoiceStyle.css" >
    <link rel="stylesheet" href="/loader.css">


    <!-- JS, Popper.js, and jQuery -->
   <script src="/Libraries/jquery.js"></script>   
   <script src="/Libraries/popper.js"></script>   
   <script src="/Libraries/bootstrap.js"></script>   
   <script src="/generate_invoice_api.js"></script>
    <script src="/invoice.js"></script>
    <script src="/invoiceForm.js"></script>  
    <script src="/myInvoiceForm.js"></script>
     <script src="/loader.js"></script> 


  

  <style>
    @media print {
    .noprint {
        visibility: hidden;
    }
  </style>
  
    <title>INVOICE FORM</title>
</head>
<body>

  {{!-- screen loader --}}
    <div class="loader-wrapper">
      <div class="loader"></div>
          <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  {{!-- screen loader end here --}}

<div id="container" class="invoiceForm">
 
  <span class="input">
    <input type="text" class="input__field" id="date" />
    <label for="date" class="input__label">
      <span class="input__label-content">Date</span>
  </label>
  </span>


<select class="form-control mySelect" id="state">
    <option value="Delhi">Delhi / New Delhi</option>
    <option value="Others">Others</option>
</select>

  <span class="input">
    <input type="text" class="input__field" id="billed_to" />
    <label for="billed_to" class="input__label">
      <span class="input__label-content">Billed To</span>
    </label>
  </span>

  <span class="input">
    <input type="text" class="input__field" id="billed_to_gst" />
    <label for="billed_to_gst" class="input__label">
      <span class="input__label-content">GST IN</span>
    </label>
  </span>

  <span class="input">
    <input type="text" class="input__field" id="supplied_to" />
    <label for="supplied_to" class="input__label">
      <span class="input__label-content">Supplied To</span>
    </label>
  </span>

<span class="input">
    <input type="text" class="input__field" id="supplied_to_gst" />
    <label for="supplied_to_gst" class="input__label">
      <span class="input__label-content">GST IN</span>
    </label>
  </span>

    <div id="invoiceTable" style="width:100%;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Specific Code</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="invoice_table">
            <tr>
              <td><input id="specific_code"></td>
              <td><input id="quantity"></td>
              <td><button type="button" id="addBtn" class="btn btn-success" disabled>Add</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  <button id="send-button" type="button">Generate Invoice</button>

</div>

<div class="container"></div>
  <div id="result"></div>


</body>
</html>